In [1]:
import pandas as pd
from scipy import sparse
pd.set_option('display.notebook_repr_html', True)

In [2]:
ratings = pd.read_csv('dataset/ratings.csv')
movies = pd.read_csv('dataset/movies.csv')
links = pd.read_csv('dataset/links.csv')

c = '''
movies = pd.merge(movies,links).drop(['imdbId'],axis=1)
ratings = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
print(ratings.shape)
ratings.head()
print(type(ratings))
'''



# print(links.shape)
# print(links.shape)
# print(links.dropna().shape)
links = links.fillna(0)
# print(links.shape)


links = pd.concat([links.drop(['imdbId','tmdbId'], axis=1), links['tmdbId'].astype(dtype='uint64')], axis=1)
movies_links = pd.merge(movies, links)
movies = pd.merge(movies, links)
ratings = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
# print(ratings.shape)
# ratings.head()
# print(ratings.shape)
# ratings[ratings['tmdbId'] == 0]
ratings = ratings[ratings['tmdbId'] != 0]
print(ratings.shape)
links.head()
movies_links.head()
movies.head()
ratings.head()

(100823, 5)

   movieId             title  tmdbId  userId  rating
0        1  Toy Story (1995)     862       1     4.0
1        1  Toy Story (1995)     862       5     4.0
2        1  Toy Story (1995)     862       7     4.5
3        1  Toy Story (1995)     862      15     2.5
4        1  Toy Story (1995)     862      17     4.5

In [3]:
userRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
display(userRatings.head())
print("Before: ",userRatings.shape)
userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)
#userRatings.fillna(0, inplace=True)
print("After: ",userRatings.shape)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Before:  (610, 9713)
After:  (610, 2269)

In [4]:
corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head(100)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Almost Famous (2000),0.099554,0.209549,0.032088,0.296727,0.134434,0.118628,0.242958,0.079158,0.005092,0.051279,...,0.244619,0.085395,0.072505,0.221259,0.126008,0.362571,0.011577,0.208008,0.186599,0.147413
Along Came Polly (2004),0.027287,0.282426,0.113213,0.193085,0.162678,0.180259,0.112928,0.121704,0.125792,0.124032,...,0.173133,0.160430,0.029076,0.189165,0.166278,0.309183,0.078468,-0.036498,0.231566,0.025928
Along Came a Spider (2001),0.064762,-0.003205,0.016372,0.085365,-0.018241,0.080388,0.094016,-0.016678,0.079375,-0.028052,...,0.115347,0.093774,0.085286,0.150757,0.052144,0.174489,0.014189,0.025327,0.233244,0.043581
Amadeus (1984),0.136013,0.084829,-0.055707,0.105783,-0.008620,0.055704,0.121697,0.244291,0.084634,0.047370,...,-0.010703,0.015008,0.173486,0.103232,0.062977,0.097432,-0.007432,0.132956,0.075753,0.136565
"Amazing Spider-Man, The (2012)",0.083419,0.224961,0.149903,0.103802,0.278253,0.096137,0.152795,0.070514,0.121492,0.168369,...,0.350739,0.234351,0.089202,0.262828,0.409487,0.151747,0.373173,0.023512,0.192038,0.143658

In [5]:
# "(500) Days of Summer (2009)" not in ratings["title"]
ratings[ratings['title'] == "(500) Days of Summer (2009)"]

       movieId                        title  tmdbId  userId  rating
89679    69757  (500) Days of Summer (2009)   19913      15     4.0
89680    69757  (500) Days of Summer (2009)   19913      18     4.0
89681    69757  (500) Days of Summer (2009)   19913      22     0.5
89682    69757  (500) Days of Summer (2009)   19913      41     3.5
89683    69757  (500) Days of Summer (2009)   19913      62     4.5
89684    69757  (500) Days of Summer (2009)   19913      68     4.0
89685    69757  (500) Days of Summer (2009)   19913      70     4.0
89686    69757  (500) Days of Summer (2009)   19913      73     4.0
89687    69757  (500) Days of Summer (2009)   19913      89     2.5
89688    69757  (500) Days of Summer (2009)   19913      92     4.0
89689    69757  (500) Days of Summer (2009)   19913     105     5.0
89690    69757  (500) Days of Summer (2009)   19913     125     1.0
89691    69757  (500) Days of Summer (2009)   19913     141     3.0
89692    69757  (500) Days of Summer (2009)   19913     143     5.0
89693    69757  (500) Days of Summer (2009)   19913     148     3.5
89694    69757  (500) Days of Summer (2009)   19913     153     3.5
89695    69757  (500) Days of Summer (2009)   19913     159     5.0
89696    69757  (500) Days of Summer (2009)   19913     177     3.5
89697    69757  (500) Days of Summer (2009)   19913     213     4.5
89698    69757  (500) Days of Summer (2009)   19913     232     5.0
89699    69757  (500) Days of Summer (2009)   19913     249     4.0
89700    69757  (500) Days of Summer (2009)   19913     280     4.0
89701    69757  (500) Days of Summer (2009)   19913     298     2.0
89702    69757  (500) Days of Summer (2009)   19913     317     3.0
89703    69757  (500) Days of Summer (2009)   19913     318     4.0
89704    69757  (500) Days of Summer (2009)   19913     331     4.0
89705    69757  (500) Days of Summer (2009)   19913     357     3.5
89706    69757  (500) Days of Summer (2009)   19913     358     4.5
89707    69757  (500) Days of Summer (2009)   19913     414     4.0
89708    69757  (500) Days of Summer (2009)   19913     448     2.5
89709    69757  (500) Days of Summer (2009)   19913     462     1.5
89710    69757  (500) Days of Summer (2009)   19913     477     5.0
89711    69757  (500) Days of Summer (2009)   19913     483     4.5
89712    69757  (500) Days of Summer (2009)   19913     489     4.5
89713    69757  (500) Days of Summer (2009)   19913     490     4.0
89714    69757  (500) Days of Summer (2009)   19913     491     4.0
89715    69757  (500) Days of Summer (2009)   19913     509     2.5
89716    69757  (500) Days of Summer (2009)   19913     525     4.0
89717    69757  (500) Days of Summer (2009)   19913     538     4.5
89718    69757  (500) Days of Summer (2009)   19913     564     4.0
89719    69757  (500) Days of Summer (2009)   19913     599     2.5
89720    69757  (500) Days of Summer (2009)   19913     610     3.5

In [6]:
print(corrMatrix.shape)
movies_links = movies_links[movies_links['title'].isin(corrMatrix.index)]
print(movies_links.shape)
movies_links.head()

(2269, 2269)
(2272, 4)

,movieId,title,genres,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,862
1,2,Jumanji (1995),Adventure|Children|Fantasy,8844
2,3,Grumpier Old Men (1995),Comedy|Romance,15602
4,5,Father of the Bride Part II (1995),Comedy,11862
5,6,Heat (1995),Action|Crime|Thriller,949

In [7]:
import pickle
pickle.dump(corrMatrix, open("correlation_matrix.pkl", "wb"))
pickle.dump(movies_links, open("movie_data.pkl", "wb"))

In [8]:
dummy_rec = ("Amazing Spider-Man, The (2012)",5)
dres = corrMatrix[dummy_rec[0]]*(dummy_rec[1]-2.5)
# pd.DataFrame({'title': dres.index, 'correlation': dres.values})
corrMatrix.columns

Index([''burbs, The (1989)', '(500) Days of Summer (2009)',
       '10 Cloverfield Lane (2016)', '10 Things I Hate About You (1999)',
       '10,000 BC (2008)', '101 Dalmatians (1996)',
       '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
       '12 Angry Men (1957)', '12 Years a Slave (2013)', '127 Hours (2010)',
       ...
       'Zack and Miri Make a Porno (2008)', 'Zero Dark Thirty (2012)',
       'Zero Effect (1998)', 'Zodiac (2007)', 'Zombieland (2009)',
       'Zoolander (2001)', 'Zootopia (2016)', 'eXistenZ (1999)', 'xXx (2002)',
       '¡Three Amigos! (1986)'],
      dtype='object', name='title', length=2269)

In [9]:
def get_similar(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    # print(type(similar_ratings))
    # print(similar_ratings)
    return similar_ratings

In [10]:
romantic_lover = [("(500) Days of Summer (2009)",5),("Alice in Wonderland (2010)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
similar_movies = pd.DataFrame()
for movie,rating in romantic_lover:
    get_similar(movie,rating)

In [11]:
romantic_lover = [("Amazing Spider-Man, The (2012)",5)]
similar_movies = pd.DataFrame(columns=[corrMatrix.columns])
for movie,rating in romantic_lover:
    get_similar(movie,rating)

In [12]:
romantic_lover = [("(500) Days of Summer (2009)",5),("Alice in Wonderland (2010)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
similar_movies = pd.DataFrame()
for movie,rating in romantic_lover:
    sim = get_similar(movie,rating)
    # print(type(sim))
    # print(sim)
    similar_movies = pd.concat([similar_movies, get_similar(movie,rating)],ignore_index = True, axis=1)

similar_movies.head()

                                       0         1         2         3
(500) Days of Summer (2009)     2.500000  0.203998 -0.062634 -0.056808
Silver Linings Playbook (2012)  1.254898  0.191226 -0.131106 -0.060217
Adventureland (2009)            1.157021  0.130105 -0.091790 -0.083101
Up in the Air (2009)            1.129961  0.221842 -0.205500 -0.093265
50/50 (2011)                    1.123890  0.139619 -0.112038 -0.064954

In [13]:
dres = similar_movies.sum(axis=1).sort_values(ascending=False).head(20)
# type(dres)
# dres.index
dres

(500) Days of Summer (2009)                      2.584556
Alice in Wonderland (2010)                       1.395229
Silver Linings Playbook (2012)                   1.254800
Yes Man (2008)                                   1.116264
Adventureland (2009)                             1.112235
Marley & Me (2008)                               1.108381
About Time (2013)                                1.102192
Crazy, Stupid, Love. (2011)                      1.088757
50/50 (2011)                                     1.086517
Help, The (2011)                                 1.075963
Up in the Air (2009)                             1.053037
Holiday, The (2006)                              1.034470
Friends with Benefits (2011)                     1.030875
Notebook, The (2004)                             1.025880
Easy A (2010)                                    1.015771
Secret Life of Walter Mitty, The (2013)          0.997979
Perks of Being a Wallflower, The (2012)          0.967425
Toy Story 3 (2010)                               0.963276
Ugly Truth, The (2009)                           0.959079
Harry Potter and the Half-Blood Prince (2009)    0.954180
dtype: float64

In [14]:
action_lover = [("Amazing Spider-Man, The (2012)",5),("Mission: Impossible III (2006)",4),("Toy Story 3 (2010)",2),("2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",4)]
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
    similar_movies = pd.concat([similar_movies, get_similar(movie,rating)],ignore_index = True, axis=1)


similar_movies.head(10)
m_list = similar_movies.sum(axis=1).sort_values(ascending=False).head(20).index
similar_movies.sum(axis=1).sort_values(ascending=False).head(20)

Amazing Spider-Man, The (2012)                           3.233134
Mission: Impossible III (2006)                           2.874798
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)    2.701477
Over the Hedge (2006)                                    2.229721
Crank (2006)                                             2.176259
Mission: Impossible - Ghost Protocol (2011)              2.159666
Hancock (2008)                                           2.156098
The Amazing Spider-Man 2 (2014)                          2.153677
Hellboy (2004)                                           2.137518
Snakes on a Plane (2006)                                 2.137396
Jumper (2008)                                            2.129716
Chronicles of Riddick, The (2004)                        2.121689
Tron: Legacy (2010)                                      2.111843
Fantastic Four (2005)                                    2.083022
X-Men: The Last Stand (2006)                             2.077530
Wreck-It Ralph (2012)                                    2.067907
Kung Fu Hustle (Gong fu) (2004)                          2.067457
Godzilla (2014)                                          2.061653
Incredible Hulk, The (2008)                              2.050104
Quantum of Solace (2008)                                 2.016189
dtype: float64

In [15]:
movies_links[movies_links['title'].isin(m_list)]['tmdbId'].values

array([   584,   1487,   2789,   9470,   9738,    956,   7518,  36668,
          326,   1948,   8247,   1724,   8960,  10764,  20526,  56292,
         1930,  82690, 102382, 124905], dtype=uint64)

In [16]:

def recommendusingcorrelation(rate_tup):
    print(rate_tup)
    similar_movies = pd.DataFrame()
    for movie,rating in rate_tup:
        similar_movies = pd.concat([similar_movies, get_similar(movie,rating)],ignore_index = True, axis=1)
    # similar_movies.head(10)
    m_list = similar_movies.sum(axis=1).sort_values(ascending=False).head(20).index
    print(m_list)
    m_ids = movies_links[movies_links['title'].isin(m_list)]['tmdbId'].values
    return m_ids

In [17]:
# print(action_lover)
recommendusingcorrelation(action_lover)

[('Amazing Spider-Man, The (2012)', 5), ('Mission: Impossible III (2006)', 4), ('Toy Story 3 (2010)', 2), ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)', 4)]
Index(['Amazing Spider-Man, The (2012)', 'Mission: Impossible III (2006)',
       '2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
       'Over the Hedge (2006)', 'Crank (2006)',
       'Mission: Impossible - Ghost Protocol (2011)', 'Hancock (2008)',
       'The Amazing Spider-Man 2 (2014)', 'Hellboy (2004)',
       'Snakes on a Plane (2006)', 'Jumper (2008)',
       'Chronicles of Riddick, The (2004)', 'Tron: Legacy (2010)',
       'Fantastic Four (2005)', 'X-Men: The Last Stand (2006)',
       'Wreck-It Ralph (2012)', 'Kung Fu Hustle (Gong fu) (2004)',
       'Godzilla (2014)', 'Incredible Hulk, The (2008)',
       'Quantum of Solace (2008)'],
      dtype='object')

array([   584,   1487,   2789,   9470,   9738,    956,   7518,  36668,
          326,   1948,   8247,   1724,   8960,  10764,  20526,  56292,
         1930,  82690, 102382, 124905], dtype=uint64)